.nav-wrapper {
    background: #0085ad;
}

.brand-logo {
    font-family: 'Kaushan Script', cursive;
}

a {
    cursor: pointer;
}

.op-mobile{
    background: #005670;
    border: 1px solid #4298b5;
    padding: 4px;
}

.op-mobile p {
    color: #fff;
    margin:0;
}