<div class="fixed-action-btn">
    <a [routerLink]="['/ficha/add']" class="btn-floating btn-large agregar">
        <i class="large material-icons">add</i>
    </a>
</div>
<div class="wrapper">
    <div class="row">
        <div class="col s12">
            <h4 class="center-align">Fichas</h4>
        </div>
        <div class="container">
            <div class="row" style="margin:0;">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">date_range</i>
                    <input type="text" id='fechaDesde' class="datepicker">
                    <label for="fechaDesde">Fecha Desde</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">date_range</i>
                    <input type="text" id='fechaHasta' class="datepicker">
                    <label for="fechaHasta">Fecha Hasta</label>
                </div>
            </div>
            <div class="row" style="margin:0;">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">person</i>
                    <input type="text" id="autocomplete-input-medicos" class="autocomplete">
                    <label for="autocomplete-input-medicos">Médico</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">person</i>
                    <input type="text" id="autocomplete-input-clientes" class="autocomplete">
                    <label for="autocomplete-input-clientes">Cliente</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m8">
                    <select id='selectSubcategorias'>
                        <option value="" disabled selected>Seleccione</option>
                        <option *ngFor='let i of subcategorias' value="{{i.idTipoProducto}}">
                            {{i.idCategoria.descripcion}}, {{i.descripcion}}</option>
                    </select>
                    <label>Categoría, Subcategoría</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <a (click)='filter()' class="waves-effect waves-light btn right disagree" style="margin:4px;"><i
                            class="material-icons left">search</i>Buscar</a>
                    <a (click)='clearFilter()' class="waves-effect waves-light btn right agree" style="margin:4px;">Limpiar</a>
                </div>
            </div>

        </div>
        <div class="col s12">
            <table class="striped centered">
                <colgroup>
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 15%;">
                </colgroup>
                <thead>
                    <tr>
                        <th class="hide-on-small-and-down">Fecha</th>
                        <th>Profesional</th>
                        <th>Cliente</th>
                        <th class="hide-on-small-and-down">Categoria</th>
                        <th class="hide-on-small-and-down">Subcategoria</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let i of data; index as j">
                        <td class="hide-on-small-and-down">{{ i.fechaHora }}</td>
                        <td>{{ i.idEmpleado.nombre }} {{ i.idEmpleado.apellido }}</td>
                        <td>{{ i.idCliente.nombre }} {{ i.idCliente.apellido }}</td>
                        <td class="hide-on-small-and-down">{{ i.idTipoProducto.idCategoria.descripcion }}</td>
                        <td class="hide-on-small-and-down">{{ i.idTipoProducto.descripcion }}</td>
                        <td>
                            <a href='#modal_edit' (click)="saveEdit(i)" class="modal-trigger" title="Editar">
                                <i class="material-icons hide-on-small-and-down" style="color:#FFC107">mode_edit</i>
                                <i class="tiny material-icons hide-on-med-and-up" style="color:#FFC107">mode_edit</i>
                            </a>
                            <a href='#modal_delete' (click)="saveDeleteRecord(i.idFichaClinica, j)" title="Eliminar" class="modal-trigger">
                                <i class="material-icons hide-on-small-and-down" style="color:#F44336">delete</i>
                                <i class="tiny material-icons hide-on-med-and-up" style="color:#F44336">delete</i>
                            </a>
                            <a (click)="saveDetail(i)" href='#modal_detail' title="Ver detalles" class="modal-trigger">
                                <i class="tiny material-icons hide-on-med-and-up" style="color:#371777">details</i>
                            </a>
                            <a title="Agregar Servicio" [routerLink]="['/serviciosPrincipal/', i.idCliente.idPersona,i.idEmpleado.idPersona, 'add' ]" >
                                <i class="material-icons hide-on-small-and-down" style="color:#0085ad">local_hospital</i>
                                <i class="tiny material-icons hide-on-med-and-up" style="color:#0085ad">local_hospital</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div id="modal_delete" class="modal">
    <div class="modal-content">
        <h4>¿Eliminar registro?</h4>
        <p class="red-text">Esta acción no puede deshacerse</p>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn disagree" style="margin:4px;">Cancelar</a>
        <a (click)='deleteRecord()' class="modal-close waves-effect waves-green btn agree" style="margin:4px;">Eliminar</a>
    </div>
</div>
<div id="modal_edit" class="modal">
    <div class="modal-content">

        <div class="row">
            <div class="col s12">
                <blockquote>
                    <p>{{edit.nombre}} {{edit.apellido}}</p>
                </blockquote>
            </div>
            <div class="input-field col s12">
                <input id="obs" type="text" class="validate">
                <label for="obs" class="active">Observación</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn disagree" style="margin:4px;">Cancelar</a>
        <a (click)='putService()' class="modal-close waves-effect waves-green btn agree" style="margin:4px;">Guardar</a>
    </div>
</div>
<div id="modal_detail" class="modal">
    <div class="modal-content">
        <h5>Detalles</h5>
        <blockquote>
            <p>Fisioterapeuta: {{detail.medico}}</p>
            <p>Paciente: {{detail.paciente}}</p>
            <p>Categoria: {{detail.categoria}}</p>
            <p>Subcategoria: {{detail.subcategoria}}</p>
        </blockquote>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn agree" style="margin:4px;">Cerrar</a>
    </div>
</div>
