<div class="pagination" *ngIf="count > 0">
    <button class="boton btn-flat" id="anterior" (click)="onPrev()" [disabled]="page === 1 || loading"><i class="material-icons left">chevron_left</i></button>
    <button *ngFor="let pageNum of getPages()" class="btn-flat" id="page-{{pageNum}}" (click)="onPage(pageNum)">{{pageNum}}</button>
    <button class="boton btn-flat" id="siguiente" (click)="onNext()" [disabled]="lastPage() || loading"><i class="material-icons right">chevron_right</i></button>
    <p style="margin: 0;">{{ getMin() }}-{{ getMax() }} de {{ count }}</p>
</div>  
