<!--The content below is only a placeholder and can be replaced.-->
<nav>
    <div class="nav-wrapper">
        <a routerLink="#!" class="brand-logo center">FisioCenter</a>
        <ul class="left hide-on-small-and-down">
            <li><a id="menu" title="Menú"><i class="material-icons">menu</i></a></li>
        </ul>
        <ul class="right">
            <li><a [routerLink]="['/login/']" (click)="logout()"><i class="material-icons">exit_to_app</i></a></li>
        </ul>
    </div>
</nav>
<ul id="slide-out" class="sidenav" style="width: 350px !important;">
    <li>
        <div class="user-view" style="background-color:#48a9c5;border-bottom: 2px solid #0085ad">
            <div class="row">
                <div class="col s12">
                    <div class="center" style="margin-top: 8px;">
                        <img src="assets/images/hospital.png" class="hide-on-small-and-down">
                        <img src="" class="hide-on-med-and-up">
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
    <a routerLink="/serviciosPrincipal" class="sidenav-close"><i class="material-icons">local_hospital</i>Servicios</a>
    </li>
    <li>
        <a routerLink='/pacientes' class="sidenav-close"><i class="material-icons">supervised_user_circle</i>Pacientes</a>
    </li>
    <li>
        <a routerLink='/reservas' class="sidenav-close"><i class="material-icons">assignment_turned_in</i>Reservas</a>
    </li>
    <li>
        <a routerLink='/fichas' class="sidenav-close"><i class="material-icons">assignment</i>Fichas</a>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Administración<i class="material-icons small">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a routerLink='/servicios-admin' class="sidenav-close">
                                <i class="material-icons small">format_list_numbered</i>
                                <p>Tipos de servicios</p>
                            </a>
                        </li>
                        <li>
                            <a routerLink='/categorias' class="sidenav-close">
                                <i class="material-icons small">category</i>
                                <p>Categorías</p>
                            </a>
                        </li>
                        <li>
                            <a routerLink='/subcategorias' class="sidenav-close">
                                <i class="material-icons small">format_list_bulleted</i>
                                <p>Sub categorías</p>
                            </a>
                        </li>
                        <li>
                            <a routerLink='/horario-atencion-conf' class="sidenav-close">
                                <i class="material-icons small">schedule</i>
                                <p>Conf. horarios</p>
                            </a>
                        </li>
                        <li>
                            <a routerLink='/horario-atencion-excep-conf' class="sidenav-close">
                                <i class="material-icons small">schedule</i>
                                <p>Conf. horarios (excepciones)</p>
                            </a>
                        </li>
                        <li>
                            <a routerLink='/comisiones' class="sidenav-close">
                                <i class="material-icons small">attach_money</i>
                                <p>Comisiones</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>