a {
    cursor: pointer;
}

.wrapper {
    margin: 16px;
}

.agregar,
.nav-wrapper,
.collapsible-header {
    background: #0085ad;
}

.input-field input[type=text]:focus+label {
    color: #0085ad !important;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #0085ad !important;
    box-shadow: 0 1px 0 0 #0085ad !important;
}

.input-field .prefix.active {
    color: #0085ad !important;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    background-color: #0085ad;
}

.btn-floating {
    background-color: #00205b;
}

.collapsible-body {
    padding: 16px;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: #00205b !important;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid #00205b !important;
}

.agree {
    background: #00205b !important;
}

.disagree {
    background: #0085ad !important;
}

select {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    margin-top: -5px;
}

.azul-marino {
    background: #00205b !important;
}

.azul-claro {
    background: #0085ad !important;
}