<div class="fixed-action-btn">
    <a [routerLink]="['/servicio/add']" class="btn-floating btn-large agregar">
        <i class="large material-icons">{{icon}}</i>
    </a>
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h4>Servicios</h4>
        </div>
        <div class="input-field col s6">
            <i class="material-icons prefix">search</i>
            <input [(ngModel)]="filter.nombre" name='buscar' id="buscar" type="text" class="" placeholder="Nombre...">
            <span class="helper-text">(Enter para buscar)</span>
            <label for="buscar" class="active">Buscar</label>
        </div>
        <div class="col s6">
            <label for="subCatSelect">Subcategorías</label>
            <select id='subCatSelect' class="browser-default" name='subcategoria'>
                <option value="-1" disabled selected>Seleccione</option>
                <option *ngFor="let i of subcategorias" value="{{i.idTipoProducto}}">Subcategoría: {{i.descripcion}},
                    Categoría: {{i.idCategoria.descripcion}}</option>
            </select>
        </div>
        <div class="col s12">
            <a (click)='getBySubcategoria()' class="waves-effect waves-light btn right azul-claro" style="margin:4px;"><i class="material-icons left">search</i>Buscar</a>
            <a (click)='clearFilter()' class="waves-effect waves-light btn right azul-marino" style="margin:4px;">Limpiar</a>
            <button class="btn waves-effect waves-light" type="submit" name="action" (click)="captureScreen()">Exportar a PDF
                    <i class="material-icons right">arrow_drop_down_circle</i>
            </button>
        </div>
        <div class="col s12">
            <table class="striped" id="contentToConvert">
                <colgroup>
                    <col span="1" style="width: 45%;">
                    <col span="1" style="width: 45%;">
                    <col span="1" style="width: 10%;">
                </colgroup>
                <thead>
                    <tr>
                        <th *ngFor="let i of tableHeaders">{{ i }}</th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let i of data | serviciosFilter : searchText; index as j">
                        <td>{{ i.nombre }}</td>
                        <td>{{ i.idProducto.idTipoProducto.descripcion }}</td>
                        <td>
                            <a [routerLink]="['/servicio/edit', i.idPresentacionProducto]" title="Editar"><i
                                    class="material-icons" style="color:#FFC107">mode_edit</i></a>
                            <a href='#modal_delete' (click)="saveDeleteRecord(i.idPresentacionProducto, j)" title="Eliminar" class="modal-trigger"><i class="material-icons"
                                    style="color:#F44336">delete</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="modal_delete" class="modal">
    <div class="modal-content">
        <h4>¿Eliminar registro?</h4>
        <p class="red-text">Esta acción no puede deshacerse</p>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn disagree" style="margin:4px;">Cancelar</a>
        <a (click)='deleteRecord()' class="modal-close waves-effect waves-green btn agree" style="margin:4px;">Eliminar</a>
    </div>
</div>