<div class="row">
    <div class="col s12" style="margin-top: 16px;">
        <h4 class="center">Editar Reserva</h4>
    </div>
    <div class="container">
        <div class="row" style="margin:0;">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">date_range</i>
                <input type="text" id='fecha' class="datepicker">
                <label for="fecha" class="active">Fecha</label>
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">person</i>
                <input type="text" id="autocomplete-input-medicos" class="autocomplete">
                <label for="autocomplete-input-medicos" class="active">Médico</label>
            </div>
        </div>
    </div>
    <div class="center">
        <div *ngIf='!table' class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf='table' class="container row">
        <blockquote>
            <strong>Reserva</strong>
            <p>Cliente: {{r.cliente}}</p>
            <p>Hora inicio: {{r.horaInicio}}</p>
            <p>Hora Fin: {{r.horaFin}}</p>
        </blockquote>
    </div>
    <div *ngIf='table' class="container">
        <h5 class="">Cambiar horario</h5>
        <div class="row">
            <div class="col s12">
                <table class="striped centered">
                    <colgroup>
                        <col span="1" style="width: 30%;">
                        <col span="1" style="width: 30%;">
                        <col span="1" style="width: 30%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Hora inicio</th>
                            <th>Hora fin</th>
                            <th>Cliente</th>
                            <th>Seleccionar</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor='let i of data'>
                            <td>{{i.horaInicioCadena}}</td>
                            <td>{{i.horaFinCadena}}</td>
                            <td>{{i.idCliente}}</td>
                            <td *ngIf="i.fechaDesdeCadena; else elseBlock">
                                <p>
                                    <label>
                                        <input class="with-gap" type="radio" name="grupo"
                                            (change)="radio($event, i.horaInicioCadena, i.horaFinCadena)" />
                                        <!-- <input class="with-gap" name="grupo" type="radio" /> -->
                                        <span></span>
                                    </label>
                                </p>
                            </td>
                            <ng-template #elseBlock>
                                <td>
                                    <p>
                                        <label>
                                            <input id="reserva-{{i.idReserva}}" class="with-gap" type="radio"
                                                name="grupo" disabled='disabled' />
                                            <!-- <input class="with-gap" name="grupo" type="radio" /> -->
                                            <span></span>
                                        </label>
                                    </p>
                                </td>
                            </ng-template>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf='table' class="container row">
        <div class="input-field col s12">
            <i class="material-icons prefix">description</i>
            <textarea id="observacion" class="materialize-textarea"></textarea>
            <label for="observacion" class="active">Observaciones</label>
        </div>
        <div class="col s12">
            <a (click)='put()' class="waves-effect waves-light btn right">Guardar</a>
        </div>
    </div>
</div>