<div class="fixed-action-btn">
    <a [routerLink]="['/horario-atencion-conf/add']" class="btn-floating btn-large agregar">
        <i class="large material-icons">{{icon}}</i>
    </a>
</div>
<div class="wrapper">
    <div class="row">
        <div class="col s12">
            <h4 class="center-align hide-on-small-and-down">Configuración de horarios de atención</h4>
            <h5 class="center-align hide-on-med-and-up">Configuración de horarios de atención</h5>
        </div>
        <div class="container">
            <div class="col s12 m6">
                <label for="selectMedicos">Médico</label>
                <select id='selectMedicos' name='medicos'>
                    <option value="-1" disabled selected>Seleccione</option>
                    <option *ngFor="let i of medicos" value="{{i.idPersona}}">{{i.nombre}} {{i.apellido}}</option>
                </select>
            </div>
            <div class="col s12 m6">
                <label for="selectDias">Día de la semana</label>
                <select id='selectDias' name='dias'>
                    <option value="-1" disabled selected>Seleccione</option>
                    <option *ngFor="let i of dias" value="{{i.id}}">{{i.nombre}}</option>
                </select>
            </div>
            <div class="col s12" style="margin-top: 10px;">
                <a (click)='filter()' class="waves-effect waves-light btn right disagree" style="margin: 4px;"><i
                        class="material-icons left">search</i>Buscar</a>
                <a (click)='clearFilter()' class="waves-effect waves-light btn right agree" style="margin: 4px;">Limpiar</a>
            </div>
        </div>
        <div class="col s12">
            <table class="striped centered">
                <colgroup>
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 16%;">
                    <col span="1" style="width: 16%;">
                    <col span="1" style="width: 16%;">
                    <col span="1" style="width: 16%;">
                    <col span="1" style="width: 16%;">
                    <col span="1" style="width: 10%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>Día</th>
                        <th>Médico</th>
                        <th class="hide-on-small-and-down">Desde</th>
                        <th class="hide-on-small-and-down">Hasta</th>
                        <th class="hide-on-small-and-down">Tiempo de consulta</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let i of data; index as j">
                        <td>{{ i.diaCadena }}</td>
                        <td>{{ i.idEmpleado.nombre }} {{ i.idEmpleado.apellido }}</td>
                        <td class="hide-on-small-and-down">{{ i.horaApertura }} hs.</td>
                        <td class="hide-on-small-and-down">{{ i.horaCierre }} hs.</td>
                        <td class="hide-on-small-and-down">{{ i.intervaloMinutos }} min.</td>
                        <td>
                            <a [routerLink]="['/horario-atencion-conf/edit', i.idPersonaHorarioAgenda]" title="Editar">
                                <i class="material-icons hide-on-small-and-down" style="color:#FFC107">mode_edit</i>
                                <i class="tiny material-icons hide-on-med-and-up" style="color:#FFC107">mode_edit</i>
                            </a>
                            <a href='#modal_delete' (click)="saveDeleteRecord(i.idPersonaHorarioAgenda, j)" title="Eliminar" class="modal-trigger">
                                <i class="material-icons hide-on-small-and-down" style="color:#F44336">delete</i>
                                <i class="tiny material-icons hide-on-med-and-up" style="color:#F44336">delete</i>
                            </a>
                            <a href='#modal_detail' (click)="saveDetail(i)" title="Ver detalles" class="modal-trigger">
                                <i class="tiny material-icons hide-on-med-and-up" style="color:#371777">details</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="modal_delete" class="modal">
    <div class="modal-content">
        <h4>¿Eliminar registro?</h4>
        <p class="red-text">Esta acción no puede deshacerse</p>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn disagree" style="margin:4px;">Cancelar</a>
        <a (click)='deleteRecord()' class="modal-close waves-effect waves-green btn agree" style="margin:4px;">Eliminar</a>
    </div>
</div>
<div id="modal_detail" class="modal">
    <div class="modal-content">
        <h5>Detalles</h5>
        <blockquote>
            <p> <strong>Médico</strong> {{detail.medico}}</p>
            <p> <strong>Día:</strong> {{detail.dia}}</p>
            <p><strong>Desde:</strong> {{detail.desde}}</p>
            <p><strong>Hasta:</strong> {{detail.hasta}}</p>
            <p><strong>Tiempo de consulta:</strong> {{detail.tiempo}} min</p>
        </blockquote>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn agree" style="margin:4px;">Cerrar</a>
    </div>
</div>