<div class="container">
  <div class="row">
      <div class="col s12" style="margin-top: 16px;">
          <h4 class="center">Crear Servicio</h4>
      </div>
      <div class="container">
          <div class="row" style="margin:0;">
              <div class="input-field col s12 m6">
                  <i class="material-icons prefix">date_range</i>
                  <input type="text" id='fecha' class="datepicker">
                  <label for="fecha">Fecha</label>
              </div>
              <div class="input-field col s12 m6 ">
                  <textarea id="obs" class="materialize-textarea"></textarea>
                  <label for="obs">Observaciones</label>
              </div>
          </div>
          <div class="row" style="margin:0;">
              <div class="input-field col s12 m6">
                  <i class="material-icons prefix">person</i>
                  <input type="text" id="autocomplete-input-medicos" class="autocomplete">
                  <label for="autocomplete-input-medicos">Médico</label>
              </div>
              <div class="input-field col s12 m6">
                  <i class="material-icons prefix">person</i>
                  <input type="text" id="autocomplete-input-clientes" class="autocomplete">
                  <label for="autocomplete-input-clientes">Cliente</label>
              </div>
          </div>

          <div class="row">
            <table class="striped">
              <thead>
                <tr>
                  <th *ngFor="let i of tableHeaders">
                    {{ i }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of fichas; index as j">
                  <th>{{ i.idFichaClinica }}</th>
                  <th>{{i.fechaHora}}</th>
                  <th>{{ i.idTipoProducto.idCategoria.descripcion }}</th>
                  <th>{{ i.idTipoProducto.descripcion }}</th>
                  <th></th>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row">
              <div class="col s12">
                  <a (click)='post()' class="waves-effect waves-light btn right agree" style="margin:4px;">Guardar</a>
              </div>
          </div>

      </div>
  </div>
  <hr>
  <div class="row">
    <div class="col s12">
      <h4 class="center">Detalle</h4>
    </div>
    <div class="col s12 m6">
      <div class="input-field col s12">

        <select id="selectCategorias" (change)="obtenerIdCategoria($event.target.value)">
            <option value="" disabled selected>Selecione una categoria</option>
          <option *ngFor="let i of categorias" [value]="i.idCategoria">{{i.descripcion}}</option>
        </select>
        <label>Categorias</label>

      </div>
    </div>
    <div class="col s12 m6">
      <div class="input-field col s12">
        <select id="selectSubCategorias" (change)="obtenerIdSubcategoria($event.target.value)">
          <option value="" disabled selected>Selecione una categoria</option>
          <option *ngFor="let i of subcategorias"  [value]="i.idTipoProducto">{{i.descripcion}}</option>
        </select>
        <label>Subcategorias</label>
      </div>
    </div>
    <div class="col s12 m6">
        <div class="input-field col s12">
          <select id="selectTipoServicio" (change)="obtenerIdTipoServicio($event.target.value)">
            <option value=""  selected>Selecione una subcategoria</option>
            <option *ngFor="let i of tipoServicio"  [value]="i.idPresentacionProducto">{{i.descripcionGeneral}}</option>
          </select>
          <label>Tipo de Servicio</label>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="input-field col s12 ">
            <input [(ngModel)]="precioVenta" value="100" id="precioVenta" type="text" disabled class="validate">
            <label for="precioVenta"></label>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <div class="input-field col s12 ">
        <input [(ngModel)]="cantidad" id="cantidad" min="1" type="number" class="validate">
        <label for="cantidad">Cantidad</label>
      </div>
    </div>
      <div class="col s12 m6">
          <a (click)='agregarDetalle()' class="waves-effect waves-light btn right agree" style="margin:4px;">Agregar Detalle</a>
      </div>
  </div>
  <div class="row">
      <table class="striped">
          <thead>
            <tr><!-- terminar tabla eliminar y luego post de cabecera y post de detalle-->
              <th *ngFor="let i of tableHeadersDetalle">
                {{ i }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of arrayDetalle; index as j">
              <th>{{ i.idPresentacionProducto }}</th>
              <th>{{i.descripcionGeneral}}</th>
              <th>{{ precioVenta }}</th>
              <th>{{ cantidad }}</th>
              <th>{{ total }}</th>
              <th><a (click)="eliminarDetalle()">Eliminar</a></th>
              <th></th>
            </tr>
          </tbody>
        </table>
  </div>
</div>
