<div class="container">
<h4 class="center">Subcategorias</h4>

<table>
    <colgroup>
      <col span="1" style="width: 10%;">
      <col span="1" style="width: 40%;">
      <col span="1" style="width: 40%;">
      <col span="1" style="width: 10%;">
   </colgroup>
    <thead>
      <tr>
        <th>
          <p>
            
          </p>
        </th>
        <th *ngFor="let i of tableHeaders">{{ i }}</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let i of data ; let j = index">
        <td>
          <p>
            
          </p>
        </td>
        <td>{{ i.descripcion }}</td>
        <td>{{ i.idCategoria.descripcion }}</td>
        <td>
          <a (click)="showModalEdit(i)" title="Editar"><i class="material-icons" style="color:#FFC107">create</i></a>
          <a class="material-icons modal-trigger" href="#modal-del"  (click)="guardarPos(i.idTipoProducto)" title="Eliminar"><i  style="color:#F44336">delete</i></a>
              
        </td>
      </tr>
    </tbody>
</table>

</div>
<div class="fixed-action-btn">
  <a href="#modal-add" class="btn-floating btn-large agregar add modal-trigger">
    <i class="large material-icons">add</i>
  </a>
</div>


  <!-- Modal Structure -->
  <div id="modal-add" class="modal">
    <div class="modal-content">
        <nav class="navbar-modal">
            <div class="nav-wrapper">
              <a href="#" class="brand-logo center">Agregar Subcategorias</a>
            </div>
          </nav>
      <div class="row" style="margin-top: 8px;">
        <div class="row">
          <div class="input-field col s6">
            <select id="idCategoria" class="browser-default">
              <option value="" disabled selected>Seleccione</option>
              <option *ngFor="let i of data3" [value]=" i.idCategoria ">{{ i.descripcion}}</option>
            </select>
            <label for="categoria" class="active">Categoria</label>
          </div>
        </div>
        <div class="input-field col s66">
          <i class="material-icons prefix">chevron_right</i>
          <input id="descripcion" type="text" class="">
          <label for="descripcion">Descripcion</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <a (click)="addRecord()" class="waves-effect waves-green btn-small add" style="margin-right:4px;">Guardar</a>
        <a class="btn modal-close">Cancelar</a>
    </div>
  </div>
  <!-- Modal Structure -->
  <div id="modal-del" class="modal">
    <div class="modal-content">
      <h4>Estas seguro de eliminar la Subcategoria?</h4>
    </div>
    <div class="modal-footer">
      <a (click)="delete()" class="modal-close waves-effect waves-green btn-flat">Eliminar</a>
      <a class="btn modal-close">Cancelar</a>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal-edit" class="modal modal-fixed-footer">
    <div class="modal-content">
        <nav class="navbar-modal">
            <div class="nav-wrapper">
              <a href="#" class="brand-logo">Editar Subcategorias {{editId}}</a>
            </div>
          </nav>
      <div class="row" style="margin-top: 8px;">
        <div class="row">
          <div class="input-field col s6">
            <select id="idCategoria-edit" class="browser-default">
              <option value="" disabled selected>Seleccione</option>
              <option *ngFor="let i of data3" [value]=" i.idCategoria ">{{ i.descripcion}}</option>
            </select>
            <label for="idCategoria-edit" class="active">Categoria</label>
          </div>
        </div>
        <div class="input-field col s66">
          <i class="material-icons prefix">chevron_right</i>
          <input id="descripcion-edit" type="text" class="">
          <label for="descripcion-edit">Descripcion</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a (click)="editRecord()" class="waves-effect waves-green btn-small add" style="margin-right:4px;">Guardar</a>
      <a class="btn modal-close">Cancelar</a>
    </div>
  </div>
