<div class="container">
    <h4 class="center">Subcategorias</h4>
    <table>
        <colgroup>
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 40%;">
            <col span="1" style="width: 40%;">
            <col span="1" style="width: 10%;">
        </colgroup>
        <thead>
            <tr>
                <th>
                    <p>
                        <label>
              <input id="checkTodo" (click)="checkedAll()" type="checkbox" class="filled-in" />
              <span></span>
            </label>
                    </p>
                </th>
                <th *ngFor="let i of tableHeaders">{{ i }}</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let i of data ; let j = index">
                <td>
                    <p>
                        <label>
              <input (click)="check(i.id)" id="check-{{ i.id }}" type="checkbox" class="filled-in" />
              <span></span>
            </label>
                    </p>
                </td>
                <td>{{ i.descripcion }}</td>
                <td>{{ i.idCategoria.descripcion }}</td>
                <td>
                    <a (click)="showModalEdit(i)" title="Editar"><i class="material-icons" style="color:#FFC107">create</i></a>
                    <a (click)="deleteRecord(i.id)" title="Eliminar"><i class="material-icons"
              style="color:#F44336">delete</i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<router-outlet></router-outlet>