<div class="fixed-action-btn">
    <a class="btn-floating btn-large agregar">
        <i class="large material-icons">{{icon}}</i>
    </a>
</div>
<div class="container">
    <div class="row" style="margin:0">
        <div class="col s12">
            <h4>Servicios</h4>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input [(ngModel)]="searchText" name='search' id="searchServicios" type="text" class="">
            <span class="helper-text">Nombre, Categoria, Subcategoria</span>
            <label for="searchServicios">Buscar</label>
        </div>
    </div>

    <table>
        <colgroup>
            <col span="1" style="width: 7.5%;">
            <col span="1" style="width: 35%;">
            <col span="1" style="width: 25%;">
            <col span="1" style="width: 25%;">
            <col span="1" style="width: 7.5%;">
        </colgroup>
        <thead>
            <tr>
                <th>
                    <p>
                        <label>
              <input id="checkTodo" type="checkbox" class="filled-in" />
              <span></span>
            </label>
                    </p>
                </th>
                <th *ngFor="let i of tableHeaders">{{ i }}</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let i of data | serviciosFilter : searchText">
                <td>
                    <p>
                        <label>
              <input (click)="check(i.idPresentacionProducto)" id="check-{{ i.idPresentacionProducto }}" type="checkbox" class="filled-in" />
              <span></span>
            </label>
                    </p>
                </td>
                <td>{{ i.nombre }}</td>
                <td>{{ i.idProducto.idTipoProducto.descripcion }}</td>
                <td>{{ i.idProducto.idTipoProducto.idCategoria.descripcion }}</td>
                <td>
                    <a (click)="showModalEdit(i)" title="Editar"><i class="material-icons" style="color:#FFC107">mode_edit</i></a>
                    <a (click)="deleteRecord(i.idPresentacionProducto)" title="Eliminar"><i class="material-icons" style="color:#F44336">delete</i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>