<div class="wrapper">
    <div class="row">
        <form class="col s12">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h4 class="center">Categoria</h4>
                    </div>
                    <div class="input-field col s12">
                        <input [(ngModel)]="descripcion" name="descripcion" placeholder="" id="categoria_descrip" type="text" class="">
                        <label for="categoria_descrip">Descripcion</label>
                    </div>
                    <div class="col s12">
                        <div class="right">
                            <a (click)='submmit()' class="waves-effect waves-light btn">Agregar</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>